{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    

 <h1>Clubs ESPRIT </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Cumque perferendis, tempora error perspiciatis, obcaecati beatae modi hic est ab,
  illo ad quibusdam quas cum! Quod soluta tempora cumque vero adipisci.</p>

<img src="{{asset('logo.png')}}" > 


</div>
{% endblock %}
